<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div class="btns">
    <button type="button" name="button1" (click)="dashboard()">Dashboard</button>
    <button type="button" name="button2" (click)="herolists()">Heroes</button>
</div>
<hero-detail [hero]="selectedHero" (changeNumber)="numberIChange($event)"></hero-detail>

<div *ngIf="!selectedHero&&changeShow">
    <h2>Top Heroes</h2>
    <ul class="topBox">
        <li *ngFor="let hero of heroes">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
</div>

<div *ngIf="!selectedHero&&!changeShow">
    <hero-list [heroes] = "heroes" (changeHero)="HeroChange($event)"></hero-list>
</div>
